<div class="card">
    <div class="card-body">
        <form #todoSubmit="ngForm" (ngSubmit) = 'onNewAdd()'>
            <div class="form-group">
                <label for="todoName">Todo Name</label>
                <input
                ngModel
                name="todoName"
                required
                class="form-control" id="todoName">
            </div>
            <div class="d-flex justify-content-end">
                <button [disabled] = 'todoSubmit.invalid' *ngIf='!isEditMode' type="submit" mat-raised-button color="primary">Add Todo</button>
                <button
                (click) = 'onUpdateTodo()'
                *ngIf='isEditMode' type="button" mat-raised-button color="primary">Update Todo</button>
            </div>
        </form>
    </div>
</div>