<ul class="list-group" *ngIf="todoFromDash.length>0; else : noTodo">
    <li
    *ngFor = 'let todo of todoFromDash'
    class="list-group-item d-flex justify-content-between align-items-center">
        <strong>{{todo.todoName}}</strong>
        <div>
            <button
            (click) = 'onEdit(todo)'
            class="mr-2" mat-raised-button color="primary">Edit</button>
            <button
            (click) = 'onRemove(todo.todoId)'
            mat-raised-button color="warn">Remove</button>
        </div>
    </li>
</ul>
<ng-template #noTodo>
    <p class="alert alert-warning">There is no todo !!!</p>
</ng-template>